## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Punta Arenas,CL,-53.1500,-70.9167,41.11,87,75,2.30,light rain
1,1,Yellowknife,CA,62.4560,-114.3525,43.03,76,90,3.33,overcast clouds
2,2,Puerto Ayora,EC,-0.7393,-90.3518,68.92,87,63,7.72,broken clouds
3,3,Avarua,CK,-21.2078,-159.7750,75.25,57,40,5.75,scattered clouds
4,4,Port Alfred,ZA,-33.5906,26.8910,60.22,84,100,12.41,overcast clouds

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Karaton,ID,-6.3424,106.1045,87.96,60,98,6.73,overcast clouds
17,17,Cabo San Lucas,MX,22.8909,-109.9124,85.17,82,1,5.99,clear sky
26,26,Victoria,HK,22.2855,114.1577,89.65,82,34,1.01,scattered clouds
34,34,Kavieng,PG,-2.5744,150.7967,84.88,67,100,10.42,overcast clouds
40,40,Ishigaki,JP,24.3448,124.1572,84.36,73,3,13.69,clear sky
49,49,Aswan,EG,24.0934,32.9070,80.26,34,0,10.33,clear sky
50,50,Bubaque,GW,11.2833,-15.8333,80.67,78,100,4.34,moderate rain
51,51,Miramar,US,25.9873,-80.2323,81.05,96,90,0.00,overcast clouds
59,59,Kapaa,US,22.0752,-159.3190,84.18,73,75,1.99,broken clouds
62,62,Butaritari,KI,3.0707,172.7902,82.36,77,10,15.32,light rain

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                139
City                   139
Country                139
Lat                    139
Lng                    139
Max Temp               139
Humidity               139
Cloudiness             139
Wind Speed             139
Current Description    139
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Karaton,ID,-6.3424,106.1045,87.96,60,98,6.73,overcast clouds
17,17,Cabo San Lucas,MX,22.8909,-109.9124,85.17,82,1,5.99,clear sky
26,26,Victoria,HK,22.2855,114.1577,89.65,82,34,1.01,scattered clouds
34,34,Kavieng,PG,-2.5744,150.7967,84.88,67,100,10.42,overcast clouds
40,40,Ishigaki,JP,24.3448,124.1572,84.36,73,3,13.69,clear sky
...,...,...,...,...,...,...,...,...,...,...
661,661,Palasa,IN,18.7667,84.4167,83.21,79,100,2.75,overcast clouds
673,673,Sibolga,ID,1.7427,98.7792,85.78,60,66,3.51,broken clouds
676,676,Qandala,SO,11.4720,49.8728,88.23,56,50,2.62,scattered clouds
678,678,Kalayaan,PH,14.3500,121.5667,86.79,68,98,8.57,overcast clouds
687,687,Machilipatnam,IN,16.1667,81.1333,84.40,79,99,3.02,overcast clouds

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Karaton,ID,87.96,overcast clouds,-6.3424,106.1045,
17,Cabo San Lucas,MX,85.17,clear sky,22.8909,-109.9124,
26,Victoria,HK,89.65,scattered clouds,22.2855,114.1577,
34,Kavieng,PG,84.88,overcast clouds,-2.5744,150.7967,
40,Ishigaki,JP,84.36,clear sky,24.3448,124.1572,
...,...,...,...,...,...,...,...
661,Palasa,IN,83.21,overcast clouds,18.7667,84.4167,
673,Sibolga,ID,85.78,broken clouds,1.7427,98.7792,
676,Qandala,SO,88.23,scattered clouds,11.4720,49.8728,
678,Kalayaan,PH,86.79,overcast clouds,14.3500,121.5667,
687,Machilipatnam,IN,84.40,overcast clouds,16.1667,81.1333,

In [42]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

In [45]:
# 7. Drop the rows where there is no Hotel Name.
import numpy as np
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
clean_hotel_df = hotel_df
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Karaton,ID,87.96,overcast clouds,-6.3424,106.1045,Parkir Mobil Wisata CAS Water Park
17,Cabo San Lucas,MX,85.17,clear sky,22.8909,-109.9124,Hotel Tesoro Los Cabos
26,Victoria,HK,89.65,scattered clouds,22.2855,114.1577,Mini Hotel Central
34,Kavieng,PG,84.88,overcast clouds,-2.5744,150.7967,Nusa Island Retreat
40,Ishigaki,JP,84.36,clear sky,24.3448,124.1572,Hotel Peace Land Ishigakijima
...,...,...,...,...,...,...,...
656,Hongjiang,CN,89.73,clear sky,27.1100,109.9956,洪江大酒店
661,Palasa,IN,83.21,overcast clouds,18.7667,84.4167,Balaji tifen & meals veg & non veg hotel
673,Sibolga,ID,85.78,broken clouds,1.7427,98.7792,Hotel Syariah CN Darussalam
678,Kalayaan,PH,86.79,overcast clouds,14.3500,121.5667,Paldc
687,Machilipatnam,IN,84.40,overcast clouds,16.1667,81.1333,R&B Bungalow

In [47]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [66]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [67]:
# 11a. Add a marker layer for each city to the map. 

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))